<!-- Header -->
<header>
  <div id="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.svg" %>
    <% end %>
  </div>
  <div id="hamburger-menu"><a href="#"></a></div>
</header>

<!-- Mobile Nav -->
<nav id="mobile-nav">
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "Projects", projects_path %></li>
    <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>
